{% extends "base_generic.html" %}

{% block content %}
  <h1>About Scans Search</h1>
  <p>
TTS offers a low-cost, automated scanning solution to determine which government websites are following best practices. The results are published as simple queries and open data files, allowing TTS to measure TTS product performance, and agencies to customize reporting and take action to improve outcomes for the public.
</p>
<p>
The prototype will return data that the stakeholder(s) identify as useful, and will be built and documented to make it extensible and replicable.
</p>
<p>
The way to think of this services is through these lens:
</p>
<ul>
<li>Individual <a href="{% url 'scans-ui' %}">scans</a> that run against each domain</li>
<li>The <a href="{% url 'downloads' %}">data files</a> that result from each scan</li>
<li>Various <a href="{% url 'presentationlayers' %}">presentation layers</a> that are built on top of the data files</li>
<li><a href="{% url 'usecases' %}">Use cases</a> for using the presentation layers and data files</li>
</ul>
</p>

  <p>You can contribute to the project by going to <a href="https://github.com/18F/site-scanning">the site-scanning repo</a>.</p>
{% endblock %}
