{% extends "base_generic.html" %}

{% block content %}
  <h1>About Scans Search</h1>
  <p>Welcome to the Federal website scanner, a project developed by <em>18F</em>!</p>


<h2>List of scans</h2>

<ul>
  <li>200 Scanner - <a href="https://github.com/18F/site-scanning/blob/master/docs/scanners/200.md">Information</a></li>
  <li>USWDS Scanner - <a href="https://github.com/18F/site-scanning/blob/master/docs/scanners/uswds.md">Information</a></li>
</ul>

<h2>List of Data Links</h2>

<h4>200 Scanner</h4>

<ul>
  <li>For a domain (e.g. 18f.gov) - <a href="https://site-scanning.app.cloud.gov/api/v1/scans/200scanner/18f.gov/?format=json">JSON</a></li>
  <li></li>
  <li></li>
</ul>

<h4>USWDS Scanner</h4>

<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>


<h2>List of Presentation Layers</h2>
  
<h4>200 Scanner - code.json</h4>

<ul>
  <li>List of confirmed code.json files</li>
  <li></li>
  <li></li>
  <li></li>
  <li><a href="https://site-scanning.app.cloud.gov/search200/">Full 200 Scanner Interface</a></li>
  <li></li>
  <li></li>
</ul>

<h4>USWDS Scanner</h4>

<ul>
  <li></li>
  <li></li>
  <li></li>
</ul>



  <p>You can contribute to the project by going to <a href="https://github.com/18F/site-scanning">the site-scanning repo</a></p>
{% endblock %}
