<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Scans Search</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <strong>Overview</strong>
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'index' %}">About</a></li>
          <li><a href="/api/v1/domains/">API</a></li>
        </ul>
        <strong>200 Scanner</strong>
        <ul>
          <li><a href="{% url 'search200' %}?200page={{'/code.json' | urlencode}}&q={{'200' | urlencode}}">/code.json scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/data' | urlencode}}&q={{'200' | urlencode}}">/data scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/data.json' | urlencode}}&q={{'200' | urlencode}}">/data.json scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/developer' | urlencode}}&q={{'200' | urlencode}}">/developer scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/digitalstrategy' | urlencode}}&q={{'200' | urlencode}}">/digitalstrategy scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/open' | urlencode}}&q={{'200' | urlencode}}">/open scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/privacy' | urlencode}}&q={{'200' | urlencode}}">/privacy scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/robots.txt' | urlencode}}&q={{'200' | urlencode}}">/robots.txt scan results</a></li>
          <li><a href="{% url 'search200' %}?200page={{'/sitemap.xml' | urlencode}}&q={{'200' | urlencode}}">/sitemap.xml scan results</a></li>
          <li><a href="{% url 'search200' %}">All 200 scanner results</a></li>
        </ul>
        <strong>USWDS Scanner</strong>
        <ul>
          <li><a href="{% url 'searchUSWDS' %}">USWDS scanner results</a></li>
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
