<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>10x Site Scanner</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MNT5VXS');</script>
  <!-- End Google Tag Manager --> 
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNT5VXS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li>Presentation Layers:
            <script>
              function presentationlayerredirect() {
                const e = document.getElementById("presentationlayers");
                window.location.replace(e.options[e.selectedIndex].value)
              }
            </script>
            <select id="presentationlayers" onchange="presentationlayerredirect()">
              <option value="/presentation-layers/">Select</option>
              <option value="{% url 'search200' displaytype='200-codejson' %}?200page=/code.json&mimetype=application/json">Code.json</option>
              <option value="{% url 'search200' displaytype='200-data.json' %}?200page=/data.json&mimetype=application/json">Data.json</option>
              <option value="{% url 'search200' %}?200page=/data&q=200">Data Hub</option>
              <option value="{% url 'search200' displaytype='200-developer' %}?200page=/data.json&mimetype=application/json">Developer Hub</option>
              <option value="{% url 'search200' displaytype='200-robotstxt' %}?200page=/robots.txt">Robots.txt</option>
              <option value="{% url 'sitemap' %}">Sitemaps.xml</option>
              <option value="{% url 'privacy' %}">Privacy Dashboard</option>
              <option value="{% url 'searchUSWDS' %}">USWDS Dashboard</option>
              <option value="{% url 'search200' displaytype='dap' %}">DAP Dashboard</option>
              <option value="{% url 'search200' displaytype='third_parties' %}">Third Party Services</option>
              <option value="{% url 'search200' %}">200 Scanner</option>
            </select>
          </li>
          <li><a href="{% url 'downloads' %}">Data Links</a></li>
          
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
