<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Scans Search</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'index' %}">About</a></li>
          <li><a href="{% url 'index' %}">API</a></li>
<!--           <li><a href="{% url 'search' %}">Search</a></li> -->
          <li><strong>200 Scanner</strong></li>
          <li><a href="{% url 'index' %}">/code.json scan results</a></li>
          <li><a href="{% url 'index' %}">/data scan results</a></li>
          <li><a href="{% url 'index' %}">/data.json scan results</a></li>
          <li><a href="{% url 'index' %}">/developer scan results</a></li>
          <li><a href="{% url 'index' %}">/privacy scan results</a></li>
          <li><a href="{% url 'index' %}">/robots.txt scan results</a></li>
          <li><a href="{% url 'index' %}">/sitemap.xml scan results</a></li>
          <li><a href="{% url 'search200' %}">All 200 scanner results</a></li>
          <li><strong>USWDS Scanner</strong></li>
          <li><a href="{% url 'searchUSWDS' %}">USWDS scanner results</a></li>
<!--          <li><a href="/api/v1/domains/">All scans by domain</a></li> -->
<!--          <li><a href="/api/v1/scans/">All scans by scan type</a></li> -->
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
