{% extends "base_generic.html" %}

{% block content %}
  <h1>Help us add more features to Site Scanner</h1>
  <p>
Our current work is focused on 5 priority existing users: Code.gov, api.data.gov, USDWS, search.gov, DAP
</p><p>
Our current priorities for these users are:
</p><p>
<ul>
<li>Increasing data quality, comprehensiveness, recency, or uptime.</li>
<li>Enabling features that are exciting to use.</li>
<li>Using scan data with fewer clicks.</li>
<li>Using scan data with fewer questions or distractions.</li>
</ul></p>
Check out the ideas that have already been submitted and submit a new idea <a href="https://github.com/18F/site-scanning/issues" target="_blank">here</a>.
</p><p
{% endblock %}
