{% extends "base_generic.html" %}

{% block content %}
  <h1>Scans Search Home</h1>
  <p>Welcome to the Federal website scanner, a project developed by <em>18F</em>!</p>
  <h2>Dynamic content</h2>
  <p>The scan library has the following record counts:</p>
  <ul>
    <li><strong>Domains:</strong> {{ num_domains }}</li>
    <li><strong>Scan Types:</strong> {{ num_scantypes }}</li>
    <li><strong>Number of scans collected:</strong> {{ num_scans }}</li>
  </ul>
  <p>The scan library is updated daily.</p>
{% endblock %}
