{% extends "base_generic.html" %}

{% block content %}
  <h1>10x Site Scanner</h1>
  <h2>On-demand analysis of any federal government domain.</h2>

  <p>There are over 150 federal domains in existence. Ensuring sites maintain particular website design and maintenance standards is critical to safe, secure, and useful public sites. Federal employees interested in analyzing the standards in use on a site used to have to scan them manually, with all the legwork that entails. If someone else wanted to build off their analysis, they had to start from scratch.</p>

<p>Enter the 10x Site Scanner.</p>

<p>Employees don’t scan sites; they instantly access an expanded set of automatically-run scan data for any federal domain. The data is stored in the cloud for easy access from anywhere and is updated daily. They can filter data for specific analysis and reporting.</p>

<p>This means no manual scanning legwork and more robust insights into what's behind any domain.</p>
 
<h3>Check out this demo</h3>
<h3>Latest features added:</h3>
<h3>As of today, Site Scanner is scanning {{ num_domains }} federal domains.</h3>
<h3>Click here to get started.</h3>
 
{% endblock %}
