{% extends "base_generic.html" %}

{% block content %}
  <h1>Federal Website Scanner</h1>

  <p>The Federal Website Scanner offers on-demand analysis of U.S. government websites. The scanner looks for indicators that websites are following <a href="about.html">best practices</a>. The scanner is currently scanning {{ num_domains }} federal domains.</p>

<h2>What the scanner can do</h2>
<ul>
  <li>Check for the presence of specific files (code.json, robots.txt, sitemap.xml and more)</li>
  <li>Report on the use of shared services including the Digital Analytics Program (DAP) and the U.S. Web Design System (USWDS)</li>
  <li>Provide analysis to inform next steps for developers and website managers</li>
</ul>

<h2>Features</h2>
<ul>
  <li>Scans are updated daily</li>
  <li>Scans can cover entire domains or individual websites</li>
  <li>Data is customizable via API</li>
  <li>Scans are available from anywhere</li>
  <li>Scans are open to everyone</li>
  <li>Results are exportable</li>
</ul>

<h2>Help us build</h2>

<p>The Federal Website Scanner is a working prototype. Give it a try and let us know what you think. E-mail <a href="mailto:site-scanning@gsa.gov">site-scanning@gsa.gov</a> or <a href="https://github.com/18F/site-scanning">work with us on GitHub</a>.</p>

<h2><a href="scans.html">Explore scan data for U.S. government sites</a></h2>

{% endblock %}
