{% extends "base_generic.html" %}

{% block content %}
  <h1>List of Scans</h1>
  <p>This page lists each of the active scans and provides more information about them. </p>

<h3>200 Scanner</h3>

<p>
A scan to check each domain for the presence or absence of a file at a specific location, specifically by analyzing the server response code at that location. 
  <br><br>
Learn more about the scan <a href="https://github.com/18F/site-scanning/blob/master/docs/scanners/200.md" target="_blank">here</a>.  
</p>


<h3>USWDS Scanner</h3>

<p>
A scan to check each domain for the presence or absence of a US Web Design System (USWDS) component (i.e. font, style sheet) and the version in use of USWDS. 
  <br><br>
Learn more about the scan <a href="https://github.com/18F/site-scanning/blob/master/docs/scanners/uswds.md" target="_blank">here</a>.  
</p>

<h3>Pagedata Scanner</h3>

<p>
A scan to check each domain for the presence or absence of certain canonical files at specific locations and to analyze the characteristics of the pages that it finds.   
</p>

<h3>Privacy Page Scanner</h3>

<p>
A scan to check each domain for the presence or absence of a privacy page and to analyze the characteristics of the pages that it finds. 
</p>


<h3>Sitemap Scanner</h3>

<p>
A scan to check each domain for the presence or absence of a sitemap.xml file and to analyze the characteristics of the files that it finds. 
</p>


{% endblock %}
