{% extends "base_generic.html" %}

{% block content %}
  <h1>Scans</h1>
  <p>There are a few ways to dig into the data. The Federal Website Scanner offers different types of scans which are described below. Browse the results of existing scans or customize the search to meet your needs. <a href="/use-cases/">Explore these use cases</a> to see how our partners are using the Federal Website Scanner.</p>

<h2>File scanner</h2>

<p>The file scanner checks for the presence or absence of specific files at specific locations including /code.json, /data.json, /data, /developer, /digitalstrategy, /open, /privacy, /robots.txt, and /sitemap.xml.</p>

<p>The file scanner checks for the 200 server response code from the domain's specific URL. The 200 server response code indicates that the file exists at the specific location and loads successfully.</p>
  
<p>The presence of these files at these specific locations is an indicator that the website is aligned with best practices as established by the <a href="https://digital.gov/resources/checklist-of-requirements-for-federal-digital-services/">21st Century IDEA and other laws, policies, and regulations for federal websites</a>.</p>

<h3><a href="search200.html">See today's file scanner results</a></h3>


<h2>USWDS scanner</h2>

<p>The <a href="https://designsystem.digital.gov/">U.S. Web Design System (USWDS)</a> is a design system for U.S. government websites that makes it easier to build accessible, mobile-friendly sites.</p> 

<p>The USWDS scanner checks each domain for the presence and version of USWDS code. The scanner looks for specific code in the domain's CSS and HTML files, which fonts are in use, and and other USWDS indicators.</p>
  
<p>The presence of the latest version of the USWDS on a website is an indicator that the site is accessible and mobile-friendly.</p>

<h3><a href="searchUSWDS.html">See today's USWDS scanner results</a></h3>


{% endblock %}
