{% extends "base_generic.html" %}

{% block content %}
  <h1>Scans Search</h1>
  <p>Welcome to the Federal website scanner, a project developed by <em>18F</em>!</p>

<!--
	XXX: need search queries here:
  	text (examples:  foo, foo=bar, foo:bar, kibana query language?)
  	scantype popuplist
  	date popuplist
 -->
  <form action="{% url 'search' %}" method="get">
  	{% if query == None %}
    <input name="q" type="text" placeholder="Search Here">
    {% else %}
    <input name="q" type="text" value="{{ query }}">
    {% endif %}
    <select name="scantype">
    	{% for scantype in scantypes %}
    		{% if selected_scantype == scantype %}
    	<option value="{{ scantype }}" selected>{{ scantype }}</option>
    		{% else %}
    	<option value="{{ scantype }}">{{ scantype }}</option>
    		{% endif %}
    	{% endfor %}
    </select>
    <select name="date">
    	{% for date in dates %}
    		{% if selected_date == date %}
    	<option value="{{ date }}" selected>{{ date }}</option>
    		{% else %}
    	<option value="{{ date }}">{{ date }}</option>
    		{% endif %}
    	{% endfor %}
    </select>
  </form>

  <h2>Scan Results:</h2>
  <ul>
  	{% for scan in search_results %}
    <li><strong>{{ scan.domain }}:</strong> {{ scan }}</li>
    {% endfor %}
  </ul>
{% endblock %}
