{% extends "base_generic.html" %}

{% block content %}
  <h1>200 Scans Search</h1>
  <p>Welcome to the Federal website scanner, a project developed by <em>18F</em>!</p>
  <p>This search will search the 200 scanner results.  Search terms are <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">http status codes</a>, except for -1, which is a site that was unreachable (probably requiring VPN, or there is no public DNS entry for it). Example search queries:
  	<ul>
      <li>Find all pages that exist:<pre>200</pre></li>
      <li>Find all pages that do not exist:<pre>-200</pre></li>
      <li>Find all pages that are unreachable:<pre>"-1"</pre></li>
      <li>Find all pages that are not unreachable:<pre>-"-1"</pre></li>
      <li>Find all pages that are giving errors (5xx) or 404s:<pre>5* 404</pre></li>
      <li>You can tune other things you want to look at with the other popup lists.  NOTE:  If you select a resultcode, that will be turned into your search query until you select 'all resultcodes' again.</li>
  		<li>You can also use <a href="https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-simple-query-string-query.html#_simple_query_string_syntax">query string syntax</a> to help narrow/tune your searches.</li>
  	</ul>
  </p>

  <form action="{% url 'search200' %}" method="get">
  	{% if query == None %}
    <input name="q" type="text" placeholder="Search Here">
    {% else %}
    <input name="q" type="text" value="{{ query }}">
    {% endif %}
    <select name="resultcode" onchange="this.form.submit()">
      {% for resultcode in resultcodes %}
        {% if selected_resultcode == resultcode %}
      <option value="{{ resultcode }}" selected>{{ resultcode }}</option>
        {% else %}
      <option value="{{ resultcode }}">{{ resultcode }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <select name="200page" onchange="this.form.submit()">
    	{% for my200page in my200pages %}
    		{% if selected_200page == my200page %}
    	<option value="{{ my200page }}" selected>{{ my200page }}</option>
    		{% else %}
    	<option value="{{ my200page }}">{{ my200page }}</option>
    		{% endif %}
    	{% endfor %}
    </select>
    <select name="date" onchange="this.form.submit()">
    	{% for date in dates %}
    		{% if selected_date == date %}
    	<option value="{{ date }}" selected>{{ date }}</option>
    		{% else %}
    	<option value="{{ date }}">{{ date }}</option>
    		{% endif %}
    	{% endfor %}
    </select>
    <select name="agency" onchange="this.form.submit()">
      {% for agency in agencies %}
        {% if selected_agency == agency %}
      <option value="{{ agency }}" selected>{{ agency }}</option>
        {% else %}
      <option value="{{ agency }}">{{ agency }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <select name="domaintype" onchange="this.form.submit()">
      {% for domaintype in domaintypes %}
        {% if selected_domaintype == domaintype %}
      <option value="{{ domaintype }}" selected>{{ domaintype }}</option>
        {% else %}
      <option value="{{ domaintype }}">{{ domaintype }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </form>

  <h2>Scan Results:</h2>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% url 'search200' %}?200page={{selected_200page | urlencode}}&date={{selected_date | urlencode}}&page=1&q={{query | urlencode}}&agency={{selected_agency | urlencode}}&domaintype={{selected_domaintype | urlencode}}">&laquo; First</a>
            <a href="{% url 'search200' %}?200page={{selected_200page| urlencode}}&date={{selected_date | urlencode}}&page={{page_obj.previous_page_number}}&q={{query | urlencode}}&agency={{selected_agency | urlencode}}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% url 'search200' %}?200page={{selected_200page | urlencode}}&date={{selected_date| urlencode}}&page={{page_obj.next_page_number}}&q={{query | urlencode}}&agency={{selected_agency | urlencode}}&domaintype={{selected_domaintype | urlencode}}">Next</a>
            <a href="{% url 'search200' %}?200page={{selected_200page | urlencode}}&date={{selected_date | urlencode}}&page={{page_obj.paginator.num_pages}}&q={{query | urlencode}}&agency={{selected_agency | urlencode}}&domaintype={{selected_domaintype | urlencode}}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>

  <table>
    <tr><td><strong>Domain:</strong></td><td><strong>Type/Branch:</strong></td><td><strong>Agency:</strong></td><td><strong>Other Scan Results:</strong></td></tr>
  	{% for scan in search_results %}
      {% if selected_200page == ' all pages' %}
    <tr><td><strong><a href="https://{{ scan.domain }}">{{ scan.domain }}</a>:</strong></td><td>{{scan.domaintype}}</td><td>{{ scan.agency }}</td><td><a href="{% url 'domains-detail' scan.domain %}">{% url 'domains-detail' scan.domain %}</a></td></tr>
      {% else %}
    <tr><td><strong><a href="https://{{ scan.domain }}{{selected_200page}}">{{ scan.domain }}</a>:</strong></td><td>{{scan.domaintype}}</td><td>{{ scan.agency }}</td><td><a href="{% url 'domains-detail' scan.domain %}">{% url 'domains-detail' scan.domain %}</a></td></tr>
      {% endif %}
    {% endfor %}
  </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% url 'search200' %}?200page={{selected_200page | urlencode}}&date={{selected_date | urlencode}}&page=1&q={{query | urlencode}}&agency={{selected_agency | urlencode}}&domaintype={{selected_domaintype | urlencode}}">&laquo; First</a>
            <a href="{% url 'search200' %}?200page={{selected_200page| urlencode}}&date={{selected_date | urlencode}}&page={{page_obj.previous_page_number}}&q={{query | urlencode}}&agency={{selected_agency | urlencode}}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% url 'search200' %}?200page={{selected_200page | urlencode}}&date={{selected_date| urlencode}}&page={{page_obj.next_page_number}}&q={{query | urlencode}}&agency={{selected_agency | urlencode}}&domaintype={{selected_domaintype | urlencode}}">Next</a>
            <a href="{% url 'search200' %}?200page={{selected_200page | urlencode}}&date={{selected_date | urlencode}}&page={{page_obj.paginator.num_pages}}&q={{query | urlencode}}&agency={{selected_agency | urlencode}}&domaintype={{selected_domaintype | urlencode}}">Last &raquo;</a>
        {% endif %}
    </span>
  </div>

{% endblock %}
